.Body {
  margin-left: 50px;
  margin-top: 170px;
  display: flex;
  width: 1344;
  height: 503;
  gap: 40px;
  padding-right: 2px;
  padding-left: 2px;
  flex-wrap: wrap;
}
.productAD {
  width: 305px;
  height: 503px;
  gap: 25px;
}
.img {
  width: 305px;
  height: 344px;
  border-radius: 15px;
}
.description {
  margin-top: 20px;
  display: grid;
}
.cost {
  font-family: Montserrat Alternates;
  font-weight: 600;
  font-size: 32px;
  background: linear-gradient(90deg, #ff8964 0%, #8f7aff 100%);
  -webkit-background-clip: text; /* Для веб-китов, таких как Chrome и Safari */
  -webkit-text-fill-color: transparent;
}
.name {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.Redact {
  width: 226px;
  height: 45px;
  gap: 10px;
  margin-top: 20px;
  
  border-radius: 15px;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: 0%;
}
.deleteBtn {
  position:relative;
  top:7px;
  left:3px;
  width: 74px;
  height: 45px;
  border-radius: 15px;
  gap: 10px;
  padding-right: 30px;
  padding-left: 22px;
}

@media (max-width: 425px) {
  .Body {
    margin-left: 50px;
    margin-top: 120px;
    display: flex;
    width: 500px;
    height: 503px;
    gap: 40px;
    padding-right: 2px;
    padding-left: 2px;
    flex-wrap: wrap;
  }
  .product {
    width: 205px;
    height: 203px;
    gap: 25px;
    margin-bottom: 55px;
  }
  .img {
    width: 150px;
    height: 170px;
    border-radius: 15px;
  }
  .description {
    margin-top: 10px;
    display: grid;
  }
  .cost {
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-size: 15px;
    background: linear-gradient(90deg, #ff8964 0%, #8f7aff 100%);
    -webkit-background-clip: text; /* Для веб-китов, таких как Chrome и Safari */
    -webkit-text-fill-color: transparent;
  }
  .name {
    margin-top: 5px;

    font-weight: 400;
    font-size: 10px;
    color: white;
  }
  .inBasket {
    width: 150px;
    height: 35px;
    gap: 10px;
    margin-top: 10px;
    padding: 0px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 15px;
  }
}
