.overlay {
  position: fixed; /* Заставляет покрывать весь экран */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  z-index: 999; /* Убедитесь, что он отображается поверх других элементов */
}

.confirmBox {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  z-index: 1000;
  width: 614px;
  height: 239px;
  top: 293px;
  left: 513.5px;
  gap: 10px;
  border-radius: 15px;
  background: white;
}
.boxBA {
  width: 514px;
  height: 139px;
  gap: 35px;
  margin: 50px;
}
.quest {
  font-weight: 600;
  font-size: 20px;
}
.mesg2 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  color:rgba(138, 137, 137, 1)
}
.btns {
  margin-top: 45px;
  width: 263px;
  height: 45px;
  gap: 20px;
}
.yes {
  width: 95px;
  height: 45px;
  gap: 10px;
  padding-top: 7px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 33px;
  border-radius: 15px;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-duration: 0ms;
  color: white;
  background: black;
  font-weight: 600;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: 0%;
}
.delay {
  margin-left: 20px;
  width: 148px;
  height: 45px;
  gap: 10px;
  padding-top: 7px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 33px;
  border-radius: 15px;
  border-width: 1px;
  font-weight: 600;
  font-size: 20px;
  background: white;

  border: 1px solid rgba(53, 52, 51, 1);
}

.success {
  z-index: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  width: 388px;
  height: 219px;
  top: 293px;
  left: 513.5px;
  border-radius: 15px;
  background: white;
}
.successBox {
  width: 288px;
  height: 139px;
  margin: 40px 50px;
  display: grid;
}
.messageConf {
  font-weight: 600;
  font-size: 20px;
}
.mesg22 {
  font-weight: 400;
  font-size: 16px;
  color:rgba(138, 137, 137, 1)
}
.inCatalog {
  margin-top: 27px;
  width: 169px;
  height: 45px;
  border-radius: 15px;
  padding-top: 7px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 33px;
  gap: 10px;
  background: rgba(30, 29, 28, 1);
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-duration: 0ms;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.Error {
  z-index: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 394px;
  height: 221px;
  position: absolute;
  top: 293px;
  left: 513.5px;
  border-radius: 20px;
  background: white;
}
.ErrorBox {
  display: grid;
  width: 294px;
  height: 141px;
  margin: 40px 50px;
}

.mesgH {
  font-weight: 600;
  font-size: 20px;
}
.mesg3 {
  font-weight: 400;
  font-size: 16px;
  color: grey;
}
.ok {
  margin-top: 20px;
  width: 96px;
  height: 45px;
  border-radius: 15px;
  padding-top: 7px;
  padding-right: 33px;
  padding-bottom: 7px;
  padding-left: 33px;
  gap: 10px;
  background: rgba(53, 52, 51, 1);
  font-weight: 600;
  font-size: 20px;
  color: white;
}
